:root{
    --1:#a8a8a8;
    --2:#122369;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: var(--1);
    margin: 0;
    text-align: center;
}
.heading{
    color: black;
    font-size: 3rem;
}
.magic8ball h1{
    color: var(--1);
    text-align: center;
    position: absolute;
    top: 43%;
    left: 50.2%;
    transform: translate(-50% , -50%);
}
button{
    border: 1px solid black;
    border-radius: 5rem;
    padding: 1rem;
    margin: 1rem;
    color: white;
    background-color: var(--2);
    cursor: pointer;
}
button:hover{
    color: var(--2);
    background-color: white;
    transition: all 0.5s;
}
.result{
    color: black;
    margin: auto;
    padding: 1rem;
    border: 1px solid;
    border-radius: 0.5rem;
    width: 60%;   
}